body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0;
    margin: 0;
}

input,
select,
button,
.button {
    background: transparent;
    color: #ddd;
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 10px 20px;
}

button,
input[type="submit"] {
    cursor: pointer;
    color: #00fffc;
    font-weight: 700;
}
